name: Docker Image CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Build the Docker image
      run: docker build . --file Dockerfile --tag hydeenoble/js-remote-conf-demo:latest
    - name: Docker login
      run: docker login -u hydeenoble -p ${{ secrets.DOCKER_PASSWORD }}
    - name: Push Image
      run: docker push hydeenoble/js-remote-conf-demo:latest
